**Time Series with Pandas**

[https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html](https://)

In [28]:
import numpy as np
import pandas as pd

df=pd.read_csv('Microsoft_Stock.csv')
df

                    Date    Open    High     Low   Close    Volume
0      4/1/2015 16:00:00   40.60   40.76   40.31   40.72  36865322
1      4/2/2015 16:00:00   40.66   40.74   40.12   40.29  37487476
2      4/6/2015 16:00:00   40.34   41.78   40.18   41.55  39223692
3      4/7/2015 16:00:00   41.61   41.91   41.31   41.53  28809375
4      4/8/2015 16:00:00   41.48   41.69   41.04   41.42  24753438
...                  ...     ...     ...     ...     ...       ...
1506  3/25/2021 16:00:00  235.30  236.94  231.57  232.34  34061853
1507  3/26/2021 16:00:00  231.55  236.71  231.55  236.48  25479853
1508  3/29/2021 16:00:00  236.59  236.80  231.88  235.24  25227455
1509  3/30/2021 16:00:00  233.53  233.85  231.10  231.85  24792012
1510  3/31/2021 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 6 columns]

`shap()`  `info()` and `day_name()`

In [ ]:
print('shape:', df.shape , end='\n\n')
df.info()

In [ ]:
df.loc[0  , 'Date'].day_name()
# AttributeError: 'str' object has no attribute 'day_name'

`to_datetime()` : simply it is a method to convert a specific column from string to day_name data type

$note that$: in some cases pandas can't recognize the column `Date` so we want to pass `format=` parameter to format out column to and understandable form to `pandas`

down below is link that contain a formate values that can be used  

[https://docs.python.org/3/library/datetime.html](https://)

In [ ]:
#4/1/2015 16:00:00	
df['Date'] = pd.to_datetime(df['Date'] , format='%m/%d/%Y %H:%M:%S')
df['Date']

In [ ]:
df.loc[0  , 'Date'].day_name() # now its working 
# because we change the data type of Date column from string to datetime

In [ ]:
# it can be helpful if you want to create a new column or feature to your data set

df['dayOfWeek']=df['Date'].dt.day_name()
df['monthOfyear']=df['Date'].dt.month_name()
df

`min()`

In [ ]:
df['Date'].min()

`max()`

In [ ]:
df['Date'].max()

In [ ]:
# additional feature is to get the number of days between the first day and the last day simply using 
df['Date'].max()-df['Date'].min()

**Masking and selection**

In [ ]:
# suppose you want only the rows between 2020 and 2018
df[(df['Date'] < '2021-03-31') & (df['Date'] > '2018-01-05')]

In [ ]:
# it is better to change the date as the index 
df.set_index(['Data'] , inplace=True)

In [ ]:
df['2020']

**Slicing**

In [ ]:
df.loc['2020-02':'2020-03']['Close'].mean()

**plotting**

In [ ]:
df['2020-02':'2020-03']['Close'].plot()

In [ ]:
# to change from dally to monthly

df['High'].resample('M').max()

# more over it has a agg method
df['High'].resample('M').agg({'Open':'max','High':'mean','Low':'median','Close':'sum','Volume':'sum'})